/* Global styles */
body {
  font-family: Arial, sans-serif;
  background: #f2f2f2;
  margin: 0;
  padding: 0;
}

.app-container {
  text-align: center;
  max-width: 600px;
  margin: 5rem auto 0;
  padding: 2rem;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  margin-bottom: 1rem;
}

input,
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 1rem;
  text-align: center;
}

.dark input,.dark select{
  background-color: #333;
  color: #fff;
}


button {
  width: 100%;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 0.5rem;
  text-align: center;
  padding: 10px;
}

.dark button {
  background-color: #333;
  color: #fff;
  border: 1px solid #ccc;
}

button.full-width {
  padding: 0.5rem 1rem;
  background-color: #333;
  color: #fff;
  transition: background-color 0.2s ease-in-out;
}

button:hover {
  background-color: #777;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
  border-bottom: 1px solid #ccc;
}

li:last-child {
  border-bottom: none;
}

.nav-menu {
  width: 100%;
  background-color: #333;
  padding: 1rem;
  display: flex;
  justify-content: space-between; /* Adjust this line */
  align-items: center;
  z-index: 100;
  border-radius: 15px;
}

.nav-menu button {
  background-color: #fff;
  color: #333;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  width: auto;
  transition: background-color 0.2s ease-in-out;
  text-align: center;
}

.nav-menu button:hover {
  background-color: #333;
}

.nav-menu .categories-button {
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  width: auto;
  transition: background-color 0.2s ease-in-out;
  text-align: center;
}

.nav-menu .categories-button:hover {
  background-color: #555;
}

/* Dropdown styles */
.dropdown {
  position: relative;
  cursor: pointer;
  
}

.dropdown .dropbtn {
  background-color: #555;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 1rem;
  font-size: 12px;
  transition: background-color 0.2s ease-in-out;
  
}

.dropdown .dropbtn:hover {
  background-color: #555;
}

.dropdown .content {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  
}

.dropdown:hover .content::after {
  transform: scaleX(1);
}

.dropdown .content > span:first-child {
  font-size: 20px;
}

.dropdown .content > span:last-child {
  margin-left: auto;
  transition: 0.3s;
}

.dropdown:hover .content > span:last-child {
  transform: rotate(-180deg);
}

.dropdown .menu {
  position: absolute;
  z-index: 1;
  top: -6px;
  left: 50%;
  display: grid;
  width: 100%;
  transform: translateX(-50%);
  visibility: hidden;
  opacity: 0;
  background: linear-gradient(#555, #555);
  transition: 0.3s;
}

.dropdown:hover .menu {
  visibility: visible;
  opacity: 1;
  transform: scale(1);

}

.dropdown .menu a {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 14px;
  padding: 0 24px;
  
}

.dropdown .menu a:hover {
  background: rgba(255, 255, 255, 0.1);
}



.dropdown:hover .dropdown-content {
  display: flex;
}

.dropdown-content button {
  width: 100%;
  text-align: left;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  color: #333;
  text-align: center;
 
}

.dropdown-content button:hover {
  background-color: #f0f0f0;
}

.dark .dropdown-content button:hover {
  background-color: #5e5e5e;
}


@media (max-width: 480px) {
  .app-container {
    max-width: 100%;
    border-radius: 0;
    padding: 1rem;
  }

  input,
  select,
  button {
    width: 90%;
    background-color: #fff;
  }

  .nav-menu {
    flex-direction: row; /* Change to column layout for smaller screens */
    text-align: center;
    align-items: center;
    padding: 1rem;
    justify-content: center;
  }

  .nav-menu button,
  .nav-menu .categories-button {
    margin: 0 5px;
  }
}

/* Light Theme */
.light {
  background-color: #fff;
  color: #333;
}

.light .theme-toggle {
  background-color: #fff; /* Black background in light mode */
  color: #fff; /* White text in light mode */
}

.light button .toggler-icon {
  color: #333; /* Icon color for light theme */
}

.light .nav-menu {
  background-color: #fff;
  padding: 1rem; /* Adjust the padding for small screens */
  display: flex;
  flex-wrap: wrap; /* Allow buttons to wrap to the next line if needed */
  justify-content: center; /* Center buttons horizontally */
}

.light .nav-menu button {
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  margin: 5px; /* Add some margin around buttons */
  width: auto;
  transition: background-color 0.2s ease-in-out;
  text-align: center;
}

.light .nav-menu button:hover {
  background-color: #333;
}



/* Dark Theme */
.dark {
  background-color: #333;
  color: #fff;
}

.dark button .toggler-icon {
  color: #fff; /* Icon color for dark theme */
}

.dark .nav-menu {
  background-color: #333;
  padding: 1rem; /* Adjust the padding for small screens */
  display: flex;
  flex-wrap: wrap; /* Allow buttons to wrap to the next line if needed */
  justify-content: center; /* Center buttons horizontally */
}

 .dark .category-input{
  background-color: #fff;
  color:#333
}

.dark .category-input::placeholder {
  color: #333;
}

.dark .nav-menu button {
  background-color: #fff;
  color: #333;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  margin: 5px; /* Add some margin around buttons */
  width: auto;
  transition: background-color 0.2s ease-in-out;
  text-align: center;
}
.dark .nav-menu button:hover {
  background-color: #777;
}

.dark form {
  background-color: 333;
}

.form-button {
  width: 100%;
  padding: 10px; /* Adjust padding as needed */
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 0.5rem;
  text-align: center;
  background-color: #333; /* Match your button background color */
  color: #fff; /* Match your button text color */
  transition: background-color 0.2s ease-in-out;
}

.dark .form-button {
  background-color: #fff;
  color: #333;
}

.form-button:hover {
  background-color: #777; /* Change hover background color */
}

.button-container {
  display: flex;
  flex-direction: row;
  
}

.button-container .form-button:last-child {
  margin-left: 10px;
}

.chart-container {
  max-width: 800px;
  margin: 2rem auto;
  padding: 1rem;
  background-color: #fff;
  border-radius: 15px;
  border:#ccc 1px solid;
}
.dark .chart-container {
  background-color: #333;
  border:#929292 1px solid;
}



.category-input {
  width: 80%;
  background-color: #fff;
  color: #333;
  padding: 10px;
  border: #333 solid 1px;
  border-radius: 10px;
  outline: none;
  font-size: 14px;
  margin-top: 1px;
   /* Adjust the width as needed */
}



.category-input::placeholder {
  color: #333
}

.dark .category-input::placeholder {
  color: #fff
}



.dropdown-content {
  display: flex;
  position: relative;
  background-color: #f9f9f9;
  min-width: 160px;
  flex-direction: column;
  align-items: center;
  z-index: 111;
  left: 15%;
  width: 150px; /* Adjust the width as needed */
}

.dark .dropdown-content button {
  background-color: #535353;
  color:#fff;
  text-align: center;
}

.dark .category-input {
  background-color: #535353;
  color: #fff;
}

.dark .dropdown-content {
  background-color: #535353;
  
}


 
